weaviate-client[agents]
tqdm
numpy
pandas
sentence-transformers
openai
python-dotenv
langchain
langchain-core
langchain-huggingface
langchain-weaviate
langchain-openai
langgraph
weaviate-client
fastapi
uvicorn[standard]
jinja2