tqdm
numpy
pandas
sentence-transformers
weaviate-client[agents]
openai
python-dotenv
langchain
langchain-core
langchain-huggingface
langchain-weaviate
langchain-openai
langgraph
tiktoken
fastapi
uvicorn[standard]
jinja2
